@media(max-width:800px){
    .product-box {
        position: relative;
        width: 80px;
        height: 320px;
        justify-content: center;
        align-items: center;
        margin-left: 2.5rem !important;
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px; 
    }
    ul li {
        display: none;
    }
    .navigation-bar {
        width: 100%;
        top: 0;
        position: fixed !important;
        left: 0;
        right: 0;
    }
}
@media(max-width:700px){
    .product-box {
        position: relative;
        width: 80px;
        height: 320px;
        justify-content: center;
        align-items: center;
        margin-left: 1rem !important;
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px; 
    }
    ul li {
        display: none;
    }
    .navigation-bar {
        width: 100%;
        top: 0;
        position: fixed !important;
        left: 0;
        right: 0;
    }
}
@media(max-width:420px){
    .header {
        width: 100%;
        text-align: center;
    }
    .navigation-bar {
        width: 100%;
        top: 0;
        position: fixed !important;
        left: 0;
        right: 0;
    }
    ul li {
        display: none;
    }
    table {
        width: 100%;
        
    }
    table tr td:nth-child(4){
        display: none;
    }
    .product-box {
        position: relative;
        width: 80px;
        height: 320px;
        justify-content: center;
        align-items: center;
        margin-left: 1rem !important;
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px; 
    }
}
@media(max-width:360px){
    .header {
        width: 100%;
        text-align: center;
    }
    .navigation-bar {
        width: 100%;
        top: 0;
        position: fixed !important;

        left: 0;
        right: 0;
    }
    ul li {
        display: none;
    }
    table {
        width: 100%;
      
    }
    table tr td:nth-child(4){
        display: none;
    }
    .product-box {
        position: relative;
        width: 80px;
        height: 320px;
        justify-content: center;
        align-items: center;
        margin-left: .3rem !important;
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px; 
    }
}

    


