@media(max-width:600px){
    body {
        overflow-x: hidden;
    }
    body::before {
        background-image: none;
    }
    body::after {
        background-image: none;
    }
    table {
        width: 90%;
    }
    .product-box {
        width: 80px;
        height: 320px;
        
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px;
        cursor: pointer;
        text-transform: capitalize;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        transition: .3s ease-in;
        text-decoration: none;
        margin-bottom: 15px;
        backdrop-filter: blur(15px);
    }
    table tr td:nth-child(1){
        display: none;
        width: 0%;
    }
    .search-bar input {
        width: 90%;
        height: 50px;
        margin: 40px 0 20px 0;
        padding-left: 1rem;
    }
    table tr td {
        
        padding: 0%;
    }
    table tr td:nth-child(5){
       
        display:none;
    }
    .bx-search{
        display: none;
    }
    table tr td h2 {
        top: -18px;
        position: relative;
        text-align: center;
    }
}