@media(max-width:1030px){
    
    table tr td:nth-child(1){
       display: none;
    }

}
@media(max-width:950px){
    table tr td:nth-child(1){
        display: none;
        width: 0%;
    }
    table tr td:nth-child(5){
        display:none;
    }
    .search-bar input {
        width: 95%;
        height: 50px;
        margin: 40px 0 20px 0;
        padding-left: 1rem;
    }
}

@media(max-width:800px){
    .product-box {
        position: relative;
        width: 80px;
        height: 320px;
        justify-content: center;
        align-items: center;
        margin-left: 2.3rem !important;
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px; 
    }

}
@media(max-width:600px){
    body {
        overflow-x: hidden;
    }
    body::before {
        background-image: none;
    }
    body::after {
        background-image: none;
    }
    table {
        width: 90%;
    }
    .product-box {
        width: 80px;
        height: 320px;
        justify-content: center;
        align-items: center;
        margin-left: 2.5rem !important;
        width: 15%;
        max-height: 200px;
        min-width: 100px;
        padding: 0 0px;
        border: 1px solid #cce7d0;
        border-radius: 10px; 
    }
    table tr td:nth-child(1){
        display: none;
        width: 0%;
    }
    .search-bar input {
        width: 90%;
        height: 50px;
        margin: 40px 0 20px 0;
        padding-left: 1rem;
    }
    table tr td {
        
        padding: 0%;
    }
    table tr td:nth-child(5){
       
        display:none;
    }
    .bx-search{
        display: none;
    }
    table tr td h2 {
        top: -18px;
        position: relative;
        text-align: center;
    }
    h2 {
        font-size: 16px !important;
    }
    @media(max-width:420px){
        table {
            width: 100%;
        }
        .product-box {
            position: relative;
            width: 80px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: -2.5rem !important;
            width: 15%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
        .search-bar input {
            width: 90%;
            height: 45px;
            margin: 40px 0 20px 0;
            margin-left: -2.1rem;
        }
        h2 {
            font-size: 20px;
           
            margin-left: -4rem !important;
        }
    
    @media(width:414px){
        .product-box {
            position: relative;
            width: 110px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: -.8rem !important;
            width: 15%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
        .search-bar input {
            width: 105%;
            height: 45px;
            margin: 40px 0 20px 0;
            margin-left: -2rem !important;
        }
                
    }
    @media(width:413px){
        .product-box {
            position: relative;
            width: 80px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: 2.3rem !important;
            width: 15%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
    }
    @media(width:390px){
        .product-box {
            position: relative;
            width: 110px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: 0rem !important;
            width: 15%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }

    }
}
    @media(max-width:413px){
        .product-box {
            position: relative;
            width: 80px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: -2.3rem !important;
            width: 15%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
        table {
            width: 120%;
        }
        .search-bar input {
            width: 107%;
            height: 45px;
            margin: 40px 0 20px 0;
            margin-left: -2rem !important;
        }
    }
    @media(max-width:380px){
        table {
            width: 110%;
        }
        .search-bar input {
            width: 106%;
            height: 35px;
            margin: 40px 0 20px 0;
            padding-left: 0rem;
        }
        .product-box {
            position: relative;
            width: 80px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: -1.9rem !important;
            width: 10%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
        i {
            color: white;
        }
    }@media(max-width:350px){
        *{
            scroll-behavior: smooth;
        }
        .search-bar input {
            width: 98%;
            height: 35px;
            margin: 10px 0 20px 0;
            padding-left: 0rem;
        }
        table {
            width: 100%;
        }
        .product-box {
            position: relative;
            width: 80px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: -.8rem !important;
            width: 10%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
        table tr td:nth-child(4){
            display: none;
            width: 0%;
        }

    }
    @media(max-width:280px){
        table {
            width: 120%;
        }
        .product-box {
            position: relative;
            width: 80px;
            height: 320px;
            justify-content: center;
            align-items: center;
            margin-left: -2.5rem !important;
            width: 10%;
            max-height: 200px;
            min-width: 100px;
            padding: 0 0px;
            border: 1px solid #cce7d0;
            border-radius: 10px; 
        }
        .search-bar input {
            width: 105%;
            height: 25px;
            margin: 10px 0 10px 0;
            padding-left: 0rem;
        }
        ::placeholder{
            font-size: 16px;
        }
        h2 {
            font-size: 16px;
        }

    }
}