/*css for index.html*/
@media(max-width:1280px) {
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 38vh;
        padding-bottom: 5rem;
        
        background-size: cover;
    }
    #sm-banner {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #sm-banner .banner-box,#sm-banner .banner-box3 {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-image:url("images/png/7bb9cb9a08bb0f408ce3007a387ce6c45463b356-3165x4400.webp");
        width: 100%;
        height: 13rem;
        text-align: center;
        background-size: cover;
        background-position: center;
        transition: .3s;
        margin: 40px 0;
    }
    #sm-banner .banner-box2,#sm-banner .banner-box4 {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        background-image:url("images/png/77112aa570ff557e902e1bce93a37c73928288de-3164x4400.webp") ;
        width: 100%;
        height: 13rem;
        background-size: cover;
        background-position: center;
        transition: .3s;
        margin: 40px 0;
        opacity: 1;
    }
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 30px;
        padding-right: -10rem;
        padding-left: 7rem;
        gap: 5rem;
        margin-bottom: 2rem;
    }
    .small-navigation {
        display: none;
    }
} 

@media(max-width:1024px){
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 26vh;
        padding-bottom: 5rem;
        
        background-size: cover;
    }
    #sm-banner {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #sm-banner .banner-box,#sm-banner .banner-box3 {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-image:url("images/png/7bb9cb9a08bb0f408ce3007a387ce6c45463b356-3165x4400.webp");
        width: 100%;
        height: 13rem;
        text-align: center;
        background-size: cover;
        background-position: center;
        transition: .3s;
        margin: 40px 0;
    }
    #sm-banner .banner-box2,#sm-banner .banner-box4 {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align: center;
        background-image:url("images/png/77112aa570ff557e902e1bce93a37c73928288de-3164x4400.webp") ;
        width: 100%;
        height: 13rem;
        background-size: cover;
        background-position: center;
        transition: .3s;
        margin: 40px 0;
        opacity: 1;
    }
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 30px;
        padding-right: -10rem;
        padding-left: 5.5rem;
        gap: 5rem;
        margin-bottom: 2rem;
    }

} 
@media(max-width:950px){
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 57px;
        /* padding-right: -18rem; */
        gap: 3rem;
        margin-bottom: 2rem;
        width: 100%;
    } 
    .header h2 {
        position: relative;
        
        text-align: center;
        display: flex;
        z-index: 10;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:white;
        padding: 1rem 1rem;
        width: auto;
       
    }

}
@media(max-width:880px) {
    * {
        overflow: auto;
    }
    ul li {
        padding: 10px;
        display: none;
    }
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 30vh;
        padding-bottom: 5rem;
        
        background-size: cover;
    }
    #sm-banner {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #sm-banner .banner-box, #sm-banner .banner-box3 { 
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("images/png/7bb9cb9a08bb0f408ce3007a387ce6c45463b356-3165x4400.webp");
        max-width: 200px;
        height: auto;
        background-size: cover;
        background-position: center;
        transition: .3s;
        position: relative;
    }

    /*   create a bannner to be responsive*/
    #sm-banner .banner-box2, #sm-banner .banner-box4 {
        position: relative;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("images/png/7bb9cb9a08bb0f408ce3007a387ce6c45463b356-3165x4400.webp");
        max-width: 200px;
        height: auto;
        background-size: cover;
        background-position: center;
        transition: .3s;
    }
    .product-box {
        width: 80px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    header .small-navigation {
        display: none;
       
    }
    .normal-screen-devices {
        display: contents;
    }
    .media-query {
        display: none;
    }
}
@media(max-width:760px) {
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 30px;
        padding-right: -10rem;
        padding-left: 2.8rem;
        gap: 5rem;
        margin-bottom: 2rem;
    }
    .header {
        position: relative;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        z-index: 10;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:white;
        padding: .5rem .5rem;
        width: auto;
        padding-left: 4rem; 
        overflow: hidden;
    }

}
@media(max-width:650px) {
    
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 30px;
        gap: 3rem;
        margin-bottom: 2rem;
    }
    #sm-banner {
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #sm-banner .banner-box, #sm-banner .banner-box3 {
        display: none;   
    }
    #sm-banner .banner-box2, #sm-banner .banner-box4 {
        display: none;
    }
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 55vh;
        background-size: cover;
    }
    .header {
        position: relative;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        z-index: 10;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:white;
        padding: .5rem .5rem;
        width: auto;
        padding-left: 4rem; 
        overflow: hidden;
    }
    ul li {
        padding: 2px;
        display: none;
    }
}

@media(max-width:670px) {
    table tr td:nth-child(4) {
        display: contents;
    }
    
    header .small-navigation {
        display: none;
    }
    ul li {
        padding: 16px;
        position: relative;
        font-weight: 600;
        font-size: 26px;
        padding-bottom: .3rem;
    }
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 57px;
      
        gap: 3rem;
        margin-bottom: 2rem;
        width: 115%;
    } 
    .header h2 {
        position: relative;
        text-align: center;
        display: flex;
        z-index: 10;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:white;
        padding: .1rem .1rem;
        width: auto;
       
    }
@media(max-width:580px) {
    * {
        overflow-x: hidden;
    }
    .container .shop-contents .product-box {
      
        border: 1px solid #cce7d0;
        border-radius: 8px;
    }
    body::before {
        background-image: none;
    }
    body::after {
        background-image: none;
    }
    .container .shop-contents .product-box {
        /* 
    ________________________________________________________________________
        to remove the borders
        *uncomment*
    ________________________________________________________________________
        border-right: none;
        border-left: none;
        border-radius: 2px; */
        cursor: none;
    }
    header .small-navigation {
        display: none;
    }
    
    .header {
        position: relative;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        z-index: 10;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:white;
        padding: 1rem 1rem;
        width: auto;
        padding-left: 4rem; 
        overflow: hidden;
    }
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 30px;
        padding-right: -10rem;
        padding-left: 2rem;
        gap: 5rem;
        margin-bottom: 2rem;
    }
    footer .col:nth-child(3),footer .col:nth-child(2),footer .col:nth-child(4){
        display: none;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 30vh;
        padding-bottom: 5rem;
        
        background-size: cover;
    }
 
@media(max-width:450px){
   
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 57px;
        /* padding-right: -18rem; */
        gap: 3rem;
        margin-bottom: 2rem;
        width: 115%;
        
    }   
}    
@media(max-width:420px) {
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 48px;
       
        gap: 3rem;
        margin-bottom: 2rem;
        width: 120%;
    }  
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 35vh;
        padding-bottom: 5rem;
        
        background-size: cover;
    }
}
@media(max-width:380px){
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 65px;
        gap: 3rem;
        margin-bottom: 2rem;
        width: 120%;
    }  

}
@media(max-width:370px) {
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 69px;
        gap: 3rem;
        margin-bottom: 2rem;
        width: 130%;
    } 
    .advert-banner {
        background-image: url("images/png/bb9c2c52748e491c34e029c744eb727925cc94ba-4400x1890.jpg");
        width: 100%;
        height: 35vh;
        padding-bottom: 5rem;
        
        background-size: cover;
    }
    #sm-banner .banner-box,#sm-banner .banner-box3 {
        /* box-sizing: border-box; */
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-image:url("images/png/7bb9cb9a08bb0f408ce3007a387ce6c45463b356-3165x4400.webp");
        min-width: 150px;
        height: 10vh;
        background-size: cover;
        background-position: center;
        transition: .3s;
        margin: 10px 0;
    }
    #sm-banner .banner-box2,#sm-banner .banner-box4 {
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background-image:url("images/png/7bb9cb9a08bb0f408ce3007a387ce6c45463b356-3165x4400.webp");
        min-width: 150px;
        height: 10vh;
        background-size: cover;
        background-position: center;
        transition: .3s;
        margin: 10px 0;
    }
    .header h2 {
        position: relative;
        
        text-align: center;
        display: flex;
        z-index: 10;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:white;
        padding: .5rem .5rem;
        width: auto;
       
    }
}  
@media(max-width:320px) {
    .shop-contents {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,140px));
        position: relative;
        right: 84px;
        gap: 2rem;
        margin-bottom: 2rem;
        width: 140%;
    } 
    .container .shop-contents .product-box {
        border-right: none;
        border-left: none;
        border-radius: 2px;
        cursor: none;
    }
    img {
        border-radius: 2px;
    }
}
}}

 